grant{
permission java.util.PropertyPermission "user.dir", "read";
permission java.io.FilePermission "/home/.*", "read";
permission java.io.FilePermission "${user.dir}${/}*", "read,write";
permission java.security.AllPermission;
};
